@import url('./base.css');
@import url('./reset.css');

.form {
  margin: 36px;
  display: flex;
  gap: 8px;
  justify-content: center;
}
.input {
  border-radius: 4px;
  width: 272px;
  height: 40px;
  border: 1px solid #808080;
  padding-left: 16px;
}
.button-search {
  background-color: #4e75ff;
  border-radius: 8px;
  padding: 8px 16px;
  width: 91px;
  height: 40px;
  border: transparent;
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.04em;
  color: #fff;
  cursor: pointer;
}
.button-search:hover {
  background-color: #6c8cff;
}
.list-item {
  border: 1px solid #808080;
  border-radius: 4px;
  overflow: hidden;
  width: 360px;
  display: flex;
  flex-direction: column;
  background-color: #fff;
}
.info {
  display: flex;
  justify-content: space-between;
  padding: 8px 12px;
}
.info li {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 4px;
}
.info-text {
  font-weight: 500;
  font-size: 14px;
}
.gallery {
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
  justify-content: center;
  padding-bottom: 40px;
}

.image {
  width: 360px;
  height: 200px;
}
.info-text {
  display: flex;
  justify-content: center;
}

.loader {
  position: relative;
  transform: rotateZ(45deg);
  perspective: 1000px;
  border-radius: 50%;
  width: 48px;
  height: 48px;
  color: #ff3d00;
  margin: 40px auto;
  display: none;
}

.loader:after, .loader:before {
  content: "";
  width: 24px;
  height: 24px;
  position: absolute;
  border-radius: 50%;
  background: #FF3D00;
  animation: spin 1s linear infinite;
  transform-origin: 0px 100%;
}
.loader:before {
  transform-origin: 0 50%;
  background: #000000;
}
@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}

.button-more {
  border-radius: 8px;
  padding: 8px 16px;
  width: 125px;
  height: 40px;
  background-color: #4e75ff;
  border: transparent;
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.04em;
  color: #fff;
  display: block;
  margin: 0 auto;
  cursor: pointer;
}
.button-more:hover {
  background-color: #6c8cff;
}
.hiddenbtn {
  display: none;
}